<h1>FileZilla</h1>
<p>The guide will show you how to use FileZilla to connect to your slot here at Feral via FTP/SFTP. It shouldn't require any expertise to use, but it might be helpful to read the <a href="../ftp">general FTP/SFTP guide</a> first or if you encounter a more general problem.</p>
<p>FileZilla is available on Windows, macOS and many flavours of Linux.</p>

<h2>Connecting to your slot</h2>
<p>First of all you'll need to download and install FileZilla according to its instructions. If you don't already have the software you can find a download link in the External links section at the bottom of this guide.</p>
<p>You'll need the following information to connect:</p>
<ul>
    <li>Server/hostname</li>
    <li>Username</li>
    <li>Password</li>
</ul>
<p>You can find each of these by clicking on the <samp>Software</samp> link of your <a href="/wiki/getting_started/web_manager">Feral web manager</a>.</p>

<p>Open up FileZilla, click <samp>File</samp> then <samp>Site Manager...</samp>. In the window which appears, make sure the <samp>Logon Type</samp> is set to <kbd>Normal</kbd> and <samp>Protocol</samp> set to <kbd>SFTP</kbd>. Then put your server/hostname, username and password which we obtained from the slot's Software page. You won't need to put in a port number, as FileZilla will automatically use the default port. But, if you want to, your two options are <samp>22</samp> or <samp>22222</samp>.</p>

<figure>
    <img alt="Screenshot of the FileZilla connection manager, showing server, username and password field locations" src="https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/slots/ftp/filezilla/filezilla-connection-manager.png">
    <figcaption>In the text above, replace <var>Server</var>, <var>Username</var> and the password with the details found on your slot's <samp>Software</samp> page</figcaption>
</figure>

<h2>Usage</h2>
<p>FileZilla is laid out with the remote (i.e. Feral) side on the right, your local stuff on the left and logging at the bottom. To download a file, navigate on the left to the place you wish to download the file to then navigate to its location on the right-hand "Feral" side of things. Right click on the file and select <samp>Download</samp>. Uploading is essentially the same thing but mirrored, so you'd right click the file on the left-hand pane and select <samp>Upload</samp></p>

<h3>Speed issues and FileZilla</h3>
<p>FileZilla doesn't support multi-segmented downloading but you should be able to download multiple files at the same time by default. You might find that each subsequent file downloads at the same speed as the first file. In other words, you may download at 1MB/s, start a second file and find that is also downloading at 1MB/s - this means you can pull (at least) 2MB/s from the server. Since Feral won't be throttling you, something is likely happening out of Feral's network. You can either download multiple files if appropriate to max out total transfer speed, or, if that's not appropriate (because you have one bigger file for example), try a program like <a href="cuteftp">CuteFTP Pro</a>.</p>

<h2>External links</h2>
<ul>
    <li><a href="https://filezilla-project.org/download.php?show_all=1">FileZilla download page</a></li>
    <li><a href="https://wiki.filezilla-project.org/Documentation">Documentation</a></li>
    <li><a href="https://forum.filezilla-project.org/">Forum</a></li>
</ul>