<h1>rTorrent - Notifications</h1>
<p>There are different ways you can be notified of when torrents are added or completed in rTorrent. This guide covers some of these services - Pushbullet.</p>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<h2>Installing Pushbullet</h2>
<p>First of all you need an account at <a href="https://www.pushbullet.com/">Pushbullet</a> and the necessary API access token. You can get this from the My Account section of the Pushbullet site, clicking Create Access Token. You should make a note of this as it's necessary to make use of the API.</p>
<p>Create the necessary file by executing <kbd>nano ~/pushbullet.sh</kbd>, copying and pasting the below (after replacing <var>access_token</var> with the API access token you obtained earlier):</p>
<pre><kbd>#!/bin/bash
tname=$1
curl -u <var>access_token</var>: https://api.pushbullet.com/v2/pushes -d type=note -d title="$tname added to rTorrent"</kbd></pre>

<h2>Configuring Pushbullet</h2>
<p>To configure rTorrent to use the script simply copy and paste the following:</p>
<pre><kbd>chmod +x ~/pushbullet.sh
echo "system.method.set_key = event.download.inserted_new,push_me,\"execute=$PWD/pushbullet.sh,\$d.get_name=\"" >> ~/.rtorrent.rc
pkill -fu "$(whoami)" 'SCREEN -S rtorrent' 
screen -dmS rtorrent rtorrent</kbd></pre>

<h2>Installing and Configuring Discordpush</h2>
<p>Discordpush is a rutorrent plugin that sends messages on Torrent Added, Deleted and Finished to a specific Discord channel.
<br />Compared to Pushbullet, Discord is free, has a mobile client, has unlimited Messages and you can set up the channels in such, that multiple users can get notified if you wish.</p>
<p>You can find the Instructions on the <a href="/wiki/software/rutorrent/plugins#discordpush">Plugin Page</a></p>