<h1>Emby</h1>
<p>This article will show you how to install and configure Emby. Emby is a media player and alternative to <a href="/wiki/software/plex">Plex</a>.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<h2>Installation</h2>
<p>Install Emby by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>mkdir -p ~/bin &amp;&amp; bash
wget https://github.com/MediaBrowser/Emby.Releases/releases/download/4.0.2.0/emby-server-deb_4.0.2.0_amd64.deb
dpkg -x emby-server-deb_4.0.2.0_amd64.deb ~/
sed -i "s|APP_DIR=/|APP_DIR=$HOME/|" ~/opt/emby-server/bin/emby-server
sed -i "s|EMBY_DATA=/var|EMBY_DATA=$HOME/var|" ~/opt/emby-server/bin/emby-server
ln -s ~/opt/emby-server/bin/emby-server ~/bin/emby</kbd></pre>

<p>If your binary directory (<samp>~/bin</samp>) is not in PATH you'll need to give the full path when trying to run the software in that directory. A better alternative is to <a href="/wiki/getting_started/newbie_info#pathfix">add the bin directory to PATH</a>.</p>
<p>The rest of the guide assumes you have done this and will simply use <kbd>emby</kbd> to run the emby binary, instead of <kbd>~/bin/emby</kbd>.</p>

<h3>Configuring before starting Emby</h3>
<p>You need to start and then close Emby so that it'll create the necessary configs. Do so with the following command:</p>
<p><kbd>emby</kbd></p>
<p>Emby will then go through its launch procedure. Eventually you'll either see an error (and Emby will close automatically, creating the config) or a line which says <samp>Info App: All entry points have started</samp>. At this point, press <kbd>ctrl</kbd> + <kbd>c</kbd> to close Emby and create the config.</p>
<p>We also need to change the port number, since the default can naturally only be used once per server. To randomise it and set this port in the configs, copy and paste these commands (the start command in the section below will tell you how to access Emby):</p>
<pre><kbd>httpPort=$(shuf -i 10001-59001 -n 1)
httpsPort=$(shuf -i 10001-59001 -n 1)
sed -i "s|&lt;PublicPort&gt;.*&lt;|&lt;PublicPort&gt;$httpPort&lt;|g" ~/var/lib/emby/config/system.xml
sed -i "s|&lt;HttpServerPortNumber&gt;.*&lt;|&lt;HttpServerPortNumber&gt;$httpPort&lt;|g" ~/var/lib/emby/config/system.xml
sed -i "s|&lt;PublicHttpsPort&gt;.*&lt;|&lt;PublicHttpsPort&gt;$httpsPort&lt;|g" ~/var/lib/emby/config/system.xml
sed -i "s|&lt;HttpsPortNumber&gt;.*&lt;|&lt;HttpsPortNumber&gt;$httpsPort&lt;|g" ~/var/lib/emby/config/system.xml</kbd></pre>

<h2>Starting, stopping and restarting</h2>
<p>This section covers the Emby process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<dl>
    <dt>start</dt>
    <dd><kbd>screen -dmS emby emby &amp;&amp; echo -e "\nhttp://$(hostname -f):$(sed -rn 's|(.*)&lt;PublicPort&gt;(.*)&lt;\/PublicPort&gt;|\2|p' ~/var/lib/emby/config/system.xml)"</kbd></dd>
    <dt>check running</dt>
    <dd><kbd>pgrep -fu "$(whoami)" "emby"</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>pkill -fu "$(whoami)" 'emby'</kbd></dd>
    <dt>restart</dt>
    <dd><kbd>pkill -fu "$(whoami)" 'emby'; sleep 3 &amp;&amp; screen -dmS emby emby &amp;&amp; echo -e "\nhttp://$(hostname -f):$(sed -rn 's|(.*)&lt;PublicPort&gt;(.*)&lt;\/PublicPort&gt;|\2|p' ~/var/lib/emby/config/system.xml)"</kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>pkill -9 -fu "$(whoami)" 'emby'</kbd></dd>
</dl>
<p>The check command works as follows: if the process is running a list of relevant process ID numbers will be listed; if nothing is listed the process is not running.</p>

<h3>Automatically restarting Emby if it is not running</h3>
<p>Cron jobs can be used to check if Emby is running and start it up if it is not. There is a separate page on <a href="/wiki/slots/cron">configuring cron jobs</a>.</p>

<h2>Using Emby</h2>
<p>Access Emby via the URL produced by the start command. You should be taken to a wizard - rather than repeating what they've written, please <a href="https://github.com/MediaBrowser/Wiki/wiki/Installation#running-the-startup-wizard">refer to Emby's documentation on the wizard</a>.</p>

<p>Once you have added a user, you should access the Emby dashboard and click <samp>Users</samp> on the left-hand side. Click your user, then scroll down and make sure <samp>Hide this user from login screens</samp> is enabled.</p>

<h2>External links</h2>
<ul>
    <li><a href="https://emby.media/">Emby homepage</a></li>
    <li><a href="https://github.com/MediaBrowser/Wiki/wiki">Emby wiki (includes naming requirements for TV and movie files)</a></li>
</ul>