<h1>OpenVPN - connecting via your slot's VPN</h1>
<p>All slots on Feral can function as a VPN if you need one. This article will take you through the installation and usage of OpenVPN. You do not need any pre-assumed knowledge or experience to use this guide.</p>

<h2>Installation</h2>
<p>It is very simple to install the server-side part of OpenVPN as the Feral web manager supports its installation. Please follow the separate guide to <a href="../getting_started/web_manager#install">installing software from the web manager</a>, selecting OpenVPN from the list.</p>
<p>All the installation does is put a copy of the configuration, keys and certificates files onto your slot. You can download them from the directory <samp>~/private/vpn/</samp> to your computer using an SFTP program.</p>

<h2>Windows</h2>
<p>You'll need to <a href="http://openvpn.net/index.php/open-source/downloads.html">download the OpenVPN client for windows</a>. You'll need to download the config and the keys folder as above and place them in the OpenVPN <samp>config</samp> folder on your computer. They keys and certificates should <em>remain</em> in the keys folder. You may first need to download to somewhere like <samp>My Documents</samp> and then manually copy them into the <samp>config</samp> folder.</p>
<figure>
    <img alt="View of the keys and configuration file on a Windows computer" src="https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/software/openvpn/folder-windows.png">
    <figcaption>This is what you should see in the folder window.</figcaption>
</figure>
<p>Open the OpenVPN client (you may need to do this as an administrator), <kbd>right click</kbd> its icon from the taskbar and select <samp>Connect</samp>.</p>
<figure>
    <img alt="The OpenVPN GUI icon on the right-hand side of the taskbar" src="https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/software/openvpn/taskbar-windows.png">
    <figcaption>Here is the icon you need to right click.</figcaption>
</figure>

<h2>macOS</h2>
<p>The networking stack of macOS has VPN support built-in, but you may find a dedicated client offers better configuration and is easier. <a href="https://www.tunnelblick.net/downloads.html">Tunnelblick</a> is a free option you can try; another (paid) option is <a href="https://www.sparklabs.com/viscosity/">Viscosity</a>.</p>

<h3>Tunnelblick</h3>
<p>To import into Tunnelblick, create a folder on your computer named <samp>feral</samp>. Copy all the config, key and cert files into this folder from your slot (location <samp>~/private/vpn/</samp>) and add the extension <samp>.tblk</samp>. You should then be able to <kbd>double click</kbd> the icon to install the configuration.</p>

<h3>Viscosity</h3>
<p>In Viscosity's <samp>Preferences</samp>, click the <samp>+</samp> and select <samp>Import Connection</samp>. Navigate to and select the client.ovpn file you previously downloaded. Viscosity will then import all the necessary keys and certificates.</p>
<p>You may need to adjust some authentication settings. In <samp>Preferences</samp>, select <samp>Authentication</samp> and make sure the Tls-Auth direction is set to <samp>1</samp>.</p>

<h2>Linux</h2>

<h3>Debian</h3>
<p>Open your <samp>Network</samp> settings, select the <samp>+</samp> button and choose <samp>VPN</samp>. Then choose <samp>import from file</samp> and select <samp>client.ovpn</samp></p>

<h2>Android</h2>
<p>You should of course first <a href="https://play.google.com/store/apps/details?id=net.openvpn.openvpn&amp;feature=search_result#?t=W251bGwsMSwxLDEsIm5ldC5vcGVudnBuLm9wZW52cG4iXQ">download the app from the Play Store</a>. Transfer the contents of <samp>~/private/vpn/</samp> and make sure that the <samp>client.ovpn</samp> and keys files are in the same directory on your device.</p>
<p>Open the app on your device and select, <samp>Menu</samp>, <samp>Import</samp> then <samp>Import Profile from SD card</samp>. Navigate to the <samp>client.ovpn</samp> file and select it.</p>
<p>When you first go to connect you'll be prompted to confirm that you trust the application. You should allow this if you wish to connect.</p>

<h2>iOS</h2>
<p><a href="https://itunes.apple.com/us/app/openvpn-connect/id590379981?mt=8">Download OpenVPN Connect from the app store</a> and open up iTunes on your computer. On your devices <samp>file sharing</samp> tab, navigate to and select <samp>OpenVPN Connect</samp> from the list of apps. Add the <samp>client.ovpn</samp> file and the contents of the <samp>keys</samp> folder (rather than the folder itself) to OpenVPN Connect's folder.</p>
<p>After starting the app on your iOS device you'll be prompted to add a new connection. Do so by pressing the <samp>+</samp> sign. It should then import the necessary details.</p>