<h1>Transmission</h1>
<p>This article will take you through the installation and usage of the torrent client Transmission. For the most part no expertise is required to use the guide.</p>
<p>Transmission runs as a daemon. By default here at Feral you connect to the daemon via a web UI, but it's also possible to <a href="transmission/transmission-remote">run Transmission remotely</a>.</p>

<h2>Installation</h2>
<p>It is very simple to install or reinstall Transmission as the Feral web manager supports its installation. Please follow the separate guide to <a href="../getting_started/web_manager#install">installing software from the web manager</a>, selecting Transmission from the list.</p>

<h2>Accessing Transmission</h2>
<p>To access Transmission via the web UI simply visit the link as provided on your slot's software page. This will be in the format <kbd>https://<var>server</var>.feralhosting.com/<var>user</var>/transmission/</kbd>, where <var>server</var> is the name of your server and <var>user</var> is your username.
</p>
<p>It's also possible to <a href="transmission/transmission-remote">access Transmission remotely</a>.</p>

<h2>Starting, stopping and restarting</h2>
<p>Transmission does not run in a user-accessible area. This means that only the system can run Transmission - every five minutes the system will scan the processes running and if the Transmission daemon is not running it will attempt to start it up. This means you'll simply need to kill Transmission and wait for the system to start it up.</p>
<p>To kill Transmission simply run this command via SSH: <kbd>kill "$(pgrep -fu "$(whoami)" "transmission-daemon")"</kbd>. You can then check if any part of Transmission is still running with <kbd>pgrep -fu "$(whoami)" "transmission-daemon"</kbd>. The <samp>check running</samp> command will return a process number if Transmission is running. If it doesn't return anything, Transmission is not running.</p>

<h2>Usage</h2>
<p>This section provides information on the most basic use of Transmission.</p>

<h3>Adding torrents</h3>
<p>To add torrents to Transmission click the <samp>Open Torrent</samp> button which resembles a folder. It is the left-most icon on Transmission's toolbar.</p>
<p>You can also upload the <samp>.torrent</samp> files via (S)FTP, into the directory <samp>~/private/transmission/watch</samp>. After a little while the loaded torrents will be added into Transmission.</p>

<h3>Removing torrents</h3>
<p>To remove torrents from Transmission, simply select the torrent(s) you want to remove and <samp>right-click</samp> the selection. You can pick <samp>Remove From List...</samp> if you want to remove them from Transmission without deleting the data from your slot, or <samp>Trash Data and Remove From List...</samp> if you want to remove the data from your slot as well.</p>

<h2>Upgrading and downgrading</h2>
<p>Feral does not support any other version of Transmission than the one installable via the web manager. It is currently not possible to upgrade this version - if you need a newer version for a technical reason, please let staff know via a ticket and they will look into things for you.</p>

<h2>Uninstalling</h2>
<aside class="alert note">The commands below will completely remove the software, downloaded data and its config files - back up important data first!</aside>
<pre><kbd>kill -9 "$(pgrep -fu "$(whoami)" "transmission-daemon")"
rm -rf ~/.config/transmission-daemon ~/private/transmission</kbd></pre>
<p>These commands act only on your slot, so the software page will not change to reflect the fact that Transmission has been removed. The URL and password will remain despite the fact that Transmission is gone.</p>