<h1>Plex WebTools</h1>
<p>This article will show you how to install Plex WebTools, a plugin for Plex. Plex WebTools is a collection of utilities to help with the management of your Plex Media Server.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<h2>Installation</h2>
<p>To install Plex WebTools, log in via SSH then copy and paste the following commands:</p>
<pre><kbd>wget -q https://github.com/ukdtom/WebTools.bundle/releases/download/3.0.0/WebTools.bundle.zip
unzip -q WebTools.bundle.zip -d ~/Library/Application\ Support/Plex\ Media\ Server/Plug-ins/</kbd></pre>

<h2>Configuring Plex WebTools</h2>
<p>The WebTools plugin runs on 33400 alongside Plex (which runs on 32400). To allow multiple users to use them, they need to be forwarded from your user namespace to an accessible port via web browser. It sounds more complicated than it is in reality - you can configure things by doing the following:</p>
<pre><kbd>echo 33400 > ~/.config/feral/ns/forwarding/tcp/<var>port</var>
pkill -9 -fu "$(whoami)" 'plexmediaserver' &amp;&amp; pkill -9 -fu "$(whoami)" 'EAE Service'</kbd></pre>
<p>Obviously, change <var>port</var> in the command above to a port number! There is no particular port number you need to pick - you can generate a random one with this command:</p>
<p><kbd>echo $(shuf -i 10001-32001 -n 1)</kbd></p>

<p>The configuration commands above will also stop your Plex - this is because the plugin needs Plex to be restarted to work. Within 5 minutes of stopping Plex it will be restarted and your <var>port</var> will be properly configured.</p>

<h2>Accessing Plex WebTools</h2>
<p>Once that's done, you can get the access URL for PLex WebTools with the following command:</p>
<p><kbd>grep -l 33400 ~/.config/feral/ns/forwarding/tcp/* | echo http://$(hostname -f):$(awk -F'[^0-9]*' '$0=$3')</kbd></p>
<p>Paste the result into your browser and enter your Plex login details.</p>