<h1>SSH Tunnels</h1>
<p>This guide will show you how to create an SSH tunnel. Unlike using OpenVPN which encrypts all network traffic at the driver level for that device, creating SSH tunnels enables you to route traffic for selected applications only.</p>

<p>For example: You could open a tunnel only for browsing or an application, letting the rest of your traffic go through your ISP directly, unencrypted. This has a number of benefits, namely:</p>
<ul>
    <li>Preventing a lot of problems for casual usage, such as using an imap application such as Thunderbird or using Personal websites like Paypal.</li>
    <li>Allowing you to encrypt traffic on multiple devices simultaneously (OpenVPN only allows one device at a time)</li>
    <li>Enabling setup of software such as <a href="../software/plex">Plex</a></li>
</ul>

<h2>Windows</h2>
<p>It might be a good idea to <a href="ssh#windows">create a new SSH session</a> specifically for the tunnel. Once you have a session you wish to create a tunnel for, navigate to the Tunnels section. Look for <samp>Connection</samp>, expand the <samp>SSH</samp> options and select <samp>Tunnels</samp>.</p>
<p>Select <samp>Dynamic</samp> and enter a port number in the field <samp>Source port</samp>. The picture below uses <samp>12345</samp>, but you can select any open port on your machine.</p>
<figure>
    <img alt="Kitty screenshot showing the tunnel options" src="https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/slots/ssh-tunnels/ssh-tunnels-add.png">
    <figcaption>Select <samp>Dynamic</samp>, enter your details and then click <samp>Add</samp>.</figcaption>
</figure>

<p>Once configured you can go back to <samp>Session</samp> and select <samp>Save</samp>.</p>

<h2>macOS and Linux</h2>
<p>It's much easier to create SSH tunnels on macOS and Linux because you don't need to download or configure any additional software. All you need to do is access a terminal window the <a href="ssh">SSH basics guide</a> has more on this) and run the following command, replacing <var>port</var> with a number between 10001 and 32001 that isn't already in use and <var>username</var> with your username:</p>
<p><kbd>ssh -D <var>port</var> -l <var>username</var> server.feralhosting.com</kbd></p>

<h2>Using the created tunnel with applications</h2>
<p>The tunnel will be operational once you have either opened the tunnel session and logged in to your slot via KiTTY or signed in via the command in the macOS and Linux section. You'll need to keep the tunnel open throughout - if you close the terminal window you'll close the tunnel</p>
<p>To use the tunnel you'll need to configure software to use it. This is done, in brief, by adding the tunnel's details in the software's proxy settings. The following sections look at specific software.</p>

<h3>Firefox</h3>
<p>Open your proxy settings by copying and pasting <kbd>about:preferences#advanced</kbd> in the address bar and clicking on <samp>Network</samp>. Then, click on <samp>Settings...</samp> to configure how Firefox connects to the Internet. 
<p>Select the <samp>Manual proxy configuration:</samp> button and make the following changes:</p>
<dl>
    <dt>SOCKS Host</dt>
    <dd>127.0.0.1</dd>
    <dt>Port</dt>
    <dd>The port number you opened the tunnel with</dd>
    <dt>SOCKS Type</dt>
    <dd>SOCKS v5</dd>
</dl>
<figure>
    <img alt="A screenshot of the advanced connection settings of Firefox" src="https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/slots/ssh-tunnels/ssh-tunnels-firefox.png">
    <figcaption>In the settings above, replace <samp>12345</samp> with the tunnel port number you have selected.</figcaption>
</figure>

<h3>Windows OS</h3>
<p>Many programs will resort to Windows' proxy settings, so the following mini-guide applies to the following browsers:</p>
<ul>
    <li>Chrome</li>
    <li>Internet Explorer</li>
</ul>
<p>It may also affect other software like Steam. If you change the settings below and later (i.e. after Tunnel use) get weird connection errors, please double-check your proxy settings.</p>
<p>To access these settings quickly, press the <kbd>Windows</kbd> key to bring up the Start menu then type <kbd>proxy</kbd>. A search should automatically begin when you start typing, and eventually display <samp>Configure proxy server</samp>. Press <kbd>enter</kbd> to open the options, then do the following:</p>
<ul>
    <li>Press <samp>LAN settings</samp></li>
    <li>Tick/check <samp>Use a proxy server for your LAN</samp></li>
    <li>Press <samp>Advanced</samp></li>
    <li>In the Socks address field enter <kbd>127.0.0.1</kbd></li>
    <li>In the Socks port field enter the port number you opened the tunnel with</li>
</ul>
<figure>
    <img alt="A screenshot of the Windows operating system proxy settings" src="https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/slots/ssh-tunnels/ssh-tunnels-windows.png">
    <figcaption>In the settings above, replace <samp>12345</samp> with the tunnel port number you have selected.</figcaption>
</figure>