<h1>Opening a ticket</h1>

<p>Tickets are the intended way to get in touch with staff if you have a question or issue. This guide, which assumes no previous knowledge or experience, will provide you with the best-practice when it comes to opening a ticket.</p>

<h2>Accessing support tickets</h2>
<p>Under <samp>Contact</samp> on the left-hand sidebar of the web manager is a link to the <a href="https://www.feralhosting.com/tickets/">support ticket section</a>. Here you will see the tickets that have previously been opened on your account.</p>
<p>There is also a link through to <a href="https://www.feralhosting.com/tickets/new">opening a new ticket</a>. Use that link if you need to get in touch with staff.</p>

<h2>The ticket template fields</h2>
<p>When you first open a ticket you will see that several headings are provided for you. These are intended to make it easier for you to explain what is going wrong; this makes it easier for staff to help you.</p>
<p>This section will explain best-practice for each of the different template questions. As you might imagine, if one does not apply simply remove the heading.</p>

<h3>Which slot is this happening on?</h3>
<p>It's possible to own several slots, so use this section to provide the server name of the affected slot.</p>

<h3>What software are you having problems with?</h3>
<p>Provide the name of the software (or pieces of software) you're experiencing a problem with.</p>

<h3>What are you trying to do?</h3>

<p>This question is intended to prompt you to provide the steps you have taken leading up to the error. It is very helpful to provide a context to staff and also it might become necessary for staff to try and replicate the error.</p>

<h3>What are you expecting to happen?</h3>
<p>This question is tied to the previous one - it helps to set a context. It might be that there isn't a problem with the software itself, simply that you've made an error trying to achieve what you wanted. By telling staff what you were expecting to happen makes it easier for staff to help you as effectively as possible.</p>

<h3>What happens instead? Please be as specific as possible.</h3>
<p>Write a brief description of the result of the steps taken in the <samp>What are you trying to do?</samp> section. Things like 'it doesn't work' or 'it's broken' are not detailed enough for staff to help you. Staff are likely instead to need further information, slowing the entire thing down. It is much better to provide all the important information the first time around.</p>

<h3>Are there any error message(s)? If so, what are they?</h3>
<p>Provide any error messages verbatim.</p>

<h2>Example ticket</h2>
<p>Here is an example of a ticket with the information filled in:</p>
<blockquote>
    <p><b>Which slot is this happening on?</b></p>
    <p>Apollo</p>

    <p><b>What software are you having problems with?</b></p>
    <p>ruTorrent</p>


    <p><b>What are you trying to do?</b></p>
    <p>See the torrents loaded into rTorrent.</p>

    <p><b>What are you expecting to happen?</b></p>
    <p>A list of torrents running in rTorrent to be displayed.</p>

    <p><b>What happens instead? Please be as specific as possible.</b></p>
    <p>ruTorrent is blank and an error message is displayed</p>

    <p><b>Are there any error message(s)? If so, what are they?</b></p>
    <p>
        No connection to rTorrent. Check if it is really running. Check $scgi_port and $scgi_host settings in config.php and scgi_port in rTorrent configuration file.
    </p>
</blockquote>